@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* container */
body > .container {
  padding: 50px;
  font-family: "Onest", sans-serif;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header > .try {
  background: #020617;
  border: none;
  color: #fff;
  padding: 18px 25px;
  font-size: 16px;
  border-radius: 12px;
}

.header > .try:hover {
  background: #a435ef;
}

/* hero */

.hero {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero > .main-heading {
  font-size: 54px;
}

.hero > .sub-heading {
  font-size: 64px;
  padding: 14px 25px;
  background: #a435ef;
  color: #fff;
  border-radius: 12px;
  margin-top: 30px;
}

/* result */

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.result > .output-left {
  display: flex;
  align-items: center;
}

.result > .output-left > #num-box {
  border: 2px solid #000;
  border-radius: 12px;
  font-size: 24px;
  padding: 12px 12px;
}

.check {
  background: #020617;
  border: none;
  color: #fff;
  padding: 18px 25px;
  font-size: 16px;
  border-radius: 12px;
  margin-left: 10px;
}

.check:hover {
  background: #a435ef;
}

.ri-checkbox-circle-fill {
  color: #a435ef;
}
